html { color-scheme: dark;}


body {
  color: #eee;
  font-size: 1.125rem;
  font-family: system-ui;
  line-height: 1.5;
}

.wrapper {
  width: min(900px, 100% - 3rem);
  margin-inline: auto;
}

table {
  background: #323232;
  border-collapse: collapse; /* Remove default borders between cells, also prohibits the use of padding attribute on this element*/
  width: 100%;
}

caption, th, td {
  padding: 1rem;
}

caption, th {
  text-align: left;
}

caption {
  background: hsl(0, 0%, 0%);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

th {
  background: hsl(0 0% 0% / 0.5);
  font-weight: 700;
}

tr:nth-child(even) {
  background: hsl(0 0% 0% / 0.25);
}

.table-container{
  max-width: 100%;
  overflow-x: scroll;
}